img{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none; /* Standard syntax *//*禁止框选*/
    height: 30px;
    width: 30px;
}
.myself{
    margin-right:  5px;
    display: flex;
    margin-top: 15px;
    justify-content:flex-end;
}
.myself .chat{
    max-width: 50%;
    border-radius: 10px;
    margin-right: 7px;
    background-color: #21e731;
    display: flex; /* 设置为 Flexbox 布局 */
    justify-content: center;/*上下居中*/
    flex-direction: column;
}
.another{
    display: flex;
    margin-top: 15px;
}
.another .chat{
    max-width: 50%;
    border-radius: 10px;
    margin-left: 7px;
    background-color: white;
    display: flex; /* 设置为 Flexbox 布局 */
    justify-content: center;/*上下居中*/
    flex-direction: column;
}
button{
    position: fixed;
    bottom: 5px;
    right:45px;
    height: 35px;
    width: 115px;
    background-color: rgba(224, 224, 224, 0.75);
    border: none;
    border-radius: 4px;
}
button:hover{
    background-color: rgb(206, 206, 206);
}
button:active{
    background-color: rgba(224, 224, 224, 0.75);
}
textarea{outline: none;
    font-size:25px;
    background-color: #f5f4f4;
    resize: none;
    width: 98%;
    height: 75px;
    border: none;
    margin-top: 3px;

}
textarea::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 10px;
}
/*定义滚动条轨道 内阴影+圆角*/
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*定义滑块 内阴影+圆角*/
textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
}
.friend:active{
    background-color: white;
}
